# This file is for testing purposes only.
# Please refer to pyproject.toml for the actual dependencies.

accelerate
cached-property; python_version < "3.8"
chanfig >= 0.0.96
datasets
gitpython
lazy-imports
portalocker>=2.0.0
strenum; python_version < "3.11"
torch
# torchdata
torcheval
torchmetrics
# torchtext
torchvision
tqdm
transformers
