jieba
markdown-callouts
markdown-exec
markdown-gfm-admonition
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-gen-files
mkdocs-git-revision-date-localized-plugin
mkdocs-literate-nav
mkdocs-material
mkdocs-material-extensions-2
mkdocs-section-index
mkdocstrings[python]
python-markdown-math
